{
    "extends": "airbnb",
    "rules": {
        "comma-dangle": 0,
        "max-len": ["error", 80],
        "react/jsx-filename-extension": 0
    },
    "parserOptions": {
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        }
    }
}
